.button-menu {
    width: 10vw;
    height: calc(var(--menu-height) - 1vh);
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(28, 28, 28, 0);
    color: var(--color1);
    border: none;
    transition: 500ms;
}

.menu {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(43, 163, 188, 0.1);
    border-bottom: 1px solid rgba(224,255, 255, 0.3);
    height: var(--menu-height);
}

button.button-menu:hover {
    font-size: 18px;
}