.button-menu {
    width: 120px;
    height: 40px;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(28, 28, 28, 0);
    color: #E0FFFF;
    border: none;
}

.menu {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(43, 163, 188, 0.1);
    border-bottom: 1px solid rgba(224,255, 255, 0.3);
}