* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url("https://images.wallpaperscraft.ru/image/single/fon_oblaka_sinij_214824_1920x1080.jpg");
}

.body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.button {
    border-radius: 10px;
    background-color: rgba(43, 163, 188, 0.3);
    border: 1px solid #E0FFFF;
    color: #E0FFFF;
    margin: 10px 5px 5px;
    padding: 10px;
    font-size: 18px;
}

.button-1 {
    width: 9em;
}

.button-2 {
    width: 12.5rem;
}

.input-form {
    width: 365px;
    border-radius: 5px;
    background-color: #E0FFFF;
    height: 30px;
    font-size: 100%;
    padding: 5px;
    border: 1px;
    margin-bottom: 10px;
}

p {
    color: #E0FFFF;
    font-size: 25px;
    padding: 10px;
    text-align: left;
}

button.button:hover {
    background-color: #2ba3bc;
    border: 2px solid #E0FFFF;
}

button.button:active {
    background-color: #45A9AB;  
}

input:focus {
    background-color: #F0F8FF;
}